* {
    margin: 0;
    padding: 0;
}

body {
	background-color: white;
    font-family: 'Khula', sans-serif;
    font-weight: 400;
    color: #484848;
}

p {
	margin-top: 10px;
}
p:first-child {
	margin-top: 0;
}

#container,
#client,
#clientDialogue,
.questionBox{
	box-sizing: border-box;
}

#container {
    width: 100%;
    padding: 20px;
	overflow: auto;
	margin: 0 auto;
	background-color: white;
	text-align: center;
}

#client {
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
	background-color: white;
}

#clientDialogue {
	position: relative;
	transform: translateY(40px);
	margin-bottom: 40px;
	background-color: #d05500;
	width: 70%;
	min-width: 200px;
	padding: 10px;
	border-radius: 20px;
	color: #efefef;
}
#clientDialogue::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 40px;
	right: 0;
	top: -10px;
	background-color: #d05500;
	transform: skewY(-35deg);
	z-index: -1;
}

#coach {
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
}

.questionBox {
    font-size: 18px;
    width: 100%;
	color: #005361;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
	border: 2px solid #fff;
	
    transition: all .2s, border-radius .8s, border .8s;
}
.questionBox:hover {
    color: #f28a00;
	text-transform: underline;
	border-color: #f28a00;
	border-radius: 50px;
}

.motivationText {
	color: #f28a00;
	font-weight: 700;
	text-align: left;
	margin: 25px 0 2px 10px;
}
.errorMessage {
	color: #ff0000;
}

@media (min-width:320px) { 
	
}
@media (min-width:480px) { 
	
}
@media (min-width:600px) { 
	
}
@media (min-width:801px) { 
	#container {
		max-width: 800px;
	}
}
@media (min-width:1025px) { 

}
@media (min-width:1281px) { 

}